.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .filter-btn {
    color: var(--onyx);
    padding: 10px 16px;
    font-family: var(--ff-roboto);
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    border: 1px solid var(--gainsboro);
    border-radius: 30px;
  }
  
  .filter-btn.active {
    background: var(--bittersweet);
    color: var(--white);
    border-color: var(--bittersweet);
  }