.collection-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-block: 45px 25px;
  }